<%- include("partials/header.ejs") %>
    <%- include("partials/navbar") %>
        <h1>Sorry, there currently is no subreddit for '<%= subreddit %>' :(
        </h1>

        <%- include("partials/footer.ejs") %>